body {
    margin: 0;
}

header {
    height: 80px;
    width: absolute;
    padding: 10px;
    box-shadow: 2px 2px 4px 0px lightgray;
    z-index: 10;
}

header:hover {
    box-shadow:none;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, red, yellow) 10;
    animation: gradient 0.5s ease-in-out;
    animation-delay: 0.1s;
    transition: 0.3s;
}

@keyframes gradient {
    0% {border-image: linear-gradient(to right, yellow, red) 10}
    50% {border-image: linear-gradient(to right, red, yellow, red) 200}
    100% {border-image: linear-gradient(to right, red, yellow) 10}
}

h1 a{
    float: left;
    margin-left: 10px;
    font-family: "Water Brush";
    font-size: 28pt;
    text-decoration: none;
    color: black;
    text-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
}

ul {
    list-style-type:none;
}

li a {
    position: fixed;
    top: 4%;
    right: 5vh;
    float: right;
    padding: 16px 25px;
    background-color: rgb(239, 239, 239);
    color: black;
    font-family: "Trispace";
    font-variant: small-caps;
    font-style: bold;
    font-size: 12pt;
    list-style-type: none;
    text-decoration: none;
    border: 2px solid black;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    z-index: 10;
}

li a:hover {
    background-color: black;
    color: white;
    border: 4px solid transparent;
    border-image: linear-gradient(to right, rgb(255, 0, 128),red, yellow) 10;
    transition: background-color 0.5s, text 0.5s;
}

.a {
    margin: 5%;
    padding: 5px;
    width: 90%;
    height: 100vh;
    background-color: rgb(239, 239, 239);
    border-radius: 30px;
}

h2 {
    margin-left: 50px;
    color: black;
    font-family: "Water Brush";
    font-size: 30pt;
}

.a1 {
    position: relative;
    margin-left: 50px;
    background-color: lightgray;
    height: 70vh;
    width: 90%;
}

#aimg {
    width: 78.5vh;
}

.imgholder {
    position: relative;
    margin-left: 5vh;
    top: 5vh;
    height: 60vh;
    width: 93%;
    display: flex;
    overflow: scroll;
    overflow-y:hidden;
}

.imgholder::-webkit-scrollbar {
    height: 0.5vh;
    z-index: 1;
}

.imgholder::-webkit-scrollbar-track {
    background-color: lightgray;
}

.imgholder::-webkit-scrollbar-thumb {
    background-color: rgb(161, 161, 161);
    border-radius: 10px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, red, yellow) 20;
}

.imgholder img {
    margin: 5px;
    width: 55.5vh;
    border: 8px solid white;
}

.imgholder a {
    margin-right: 5vh;
}

.container {
    position: relative;
    width: 100%;
}

.imgoverlay {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 9.1%;
    height: 9.1%;
    padding: 25vh;
    background-color: black;
    opacity: 0;
}

.imgoverlay p {
    transform: translate(-10vh, -12vh);
    color: white;
    font-family: "Trispace";
    font-size: 6vh; 
}

.imgoverlay2 {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 9.1%;
    height: 9.1%;
    padding: 25vh;
    background-color: black;
    opacity: 0;
}

.imgoverlay2 p {
    transform: translate(-8vh, -10vh);
    color: white;
    font-family: "Trispace";
    font-size: 6vh; 
}

.imgoverlay3 {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 34.3%;
    height: 9.1%;
    padding: 25vh;
    background-color: black;
    opacity: 0;
}

.imgoverlay3 p {
    transform: translate(0vh, -5vh);
    color: white;
    font-family: "Trispace";
    font-size: 6vh; 
}

.imga1:hover .imgoverlay{
    opacity: 0.9;
    transition: 0.3s;
}

.imga2:hover .imgoverlay2 {
    opacity: 0.9;
    transition: 0.3s;
}

.imga3:hover .imgoverlay3 {
    opacity: 0.9;
    transition: 0.3s;
}

.b {
    margin: 0;
    height: 110vh;
    width: 100%;
    padding: 25px;
    background-color: black;
    border-radius: 0;
    box-sizing:border-box;
}

.b1 {
    position: relative;
    left: 12vh;
    width: 80%;
    height: 50vh;
    background-color: white;
}

h3 {
    margin-left: 100px;
    color: white;
    font-family: "Water Brush";
    font-size: 35pt;
}

.b a {
    float: right;
    margin-right: 50px;
    transform: translateY(75px);
    color: white;
    font-family: "Trispace";
    text-decoration: none;
}

.b a:hover {
    font-size: 12.3pt;
    font-weight: bold;
    transition: 0.2s;
}

.c {
    width: 100%;
    height: 125vh;
    padding: 50px;
    background-color: white;
    box-sizing: border-box;
}

.c1 {
    position: relative;
    width: 90%;
    height: 50vh;
    background-color: black;
}

h4 {
    font-family: "Water Brush";
    font-size: 35pt;
}

.c a {
    float: right;
    margin-right: 50px;
    transform: translateY(100px);
    color: black;
    font-family: "Trispace";
    text-decoration: none;
}

.c a:hover {
    font-size: 12.3pt;
    font-weight: bold;
    transition: 0.2s;
}

footer {
    margin: 0;
    width: absolute;
    height: 51vh;
    background-color: black;
    border-top: 3px solid black;
    box-sizing: border-box;
}

footer:hover {
    border-top: 8px solid transparent;
    border-image: linear-gradient(to right, red, yellow) 10;
    transition: 0.5s;
}

footer p {
    margin-left: 25px;
    color: white;
    font-family: 'Source Sans Pro';
}

.cctxt {
    color: white;
}

.cc {
    margin: 25px;
}

.cclogo {
    float: left;
    margin-left: 25px;
    transform: translateY(10vh);
    width: 35px;
}

.cclogolink {
    text-decoration: none;
}

.social {
    float: right;
    transform: translateY(-25vh);
    margin-right: 25px;
    width: 40px;
}

.socials {
    color: transparent;
}

.ftlogo {
    float: right;
    transform: translate(425%, 60%);
    width: 50px;
}

.name {
    float: right;
    transform: translate(65%,145%);
    margin: 0;
    font-family: "Water Brush";
    font-size: 20pt;
    color: white;
    text-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
}



@media only screen and (max-height: 550px) {
    .name{transform: translate(65%,20%)}
    .ftlogo{transform: translate(425%, -50%)}
    .cclogo{transform: translateY(1vh)}
    .social {transform: translateY(-25vh)}
    .c a{transform: translateY(75px)}
    .c {height: 130vh; margin-bottom: 5vh}
    .b{height: 120vh}
    footer{height: 60vh}
}

@media only screen and (height: 720px) {
    .b {height: 100vh}
    .b a{transform: translateY(100px)}
    .social{transform: translateY(-20vh)}
    .c {height: 105vh}
    footer{height: 45vh}
}

@media only screen and (max-width: 450px) {
    header{width: 100%}
    .a{height: 150vh; width: 103%; margin: 0; border-radius: 0;}
    .a1{margin-left: 0; height: 120vh; width: 100%; background-color:rgb(239, 239, 239)}
    .b {width: 106%;}
    .b a{font-size: 15pt}
    .b a:hover{font-size: 15.2pt}
    .b1{left: 5vh;}
    .c{width: 106%}
    .c a{font-size: 15pt}
    .c a:hover{font-size: 15.2pt}
    .c1{width: 100%}
    h3{margin-left: 0;}
    #aimg {width: 100%; height: auto}
    .imgholder{overflow-y: scroll; overflow-x: hidden; display: inline-block; width: 90%; height: 90%; margin-left: 3vh}
    .imgholder img{width: 100%; height: auto; margin: 0; margin-right: 0}
    .imga1:hover .imgoverlay {opacity: 0}
    .imga2:hover .imgoverlay2{opacity: 0}
    .imga3:hover .imgoverlay3{opacity: 0}
    footer {width: 106%}
    footer img {width: 50%}
    .social{transform: translateY(-300%)}
    .ftlogo{transform: translate(425%, -10%)}
    @keyframes gradient {
        0% {border-image: linear-gradient(to right, yellow, red) 10}
        50% {border-image: linear-gradient(to right, red, yellow, red) 100}
        100% {border-image: linear-gradient(to right, red, yellow) 10}
    }
}

@media only screen and (max-height: 450px) {
    .a {height: 110vh}
    .a1 {margin-left: 10vh}
    .b a{transform: translateY(35px)}
    .b{height: 130vh}
    .c a{transform: translateY(35px)}
    .c{height: 140vh}
    footer {height: 65vh}
    .social{transform: translateY(-400%)}
}
/*iPhone XR*/
@media only screen and (height: 896px) and (width: 414px) {
    li a{top: 3vh}
    .b{height: 90vh}
    .c{height: 100vh}
    footer{height: 40vh}
}
/*iPhone 12 Pro*/
@media only screen and (height: 844px) and (width: 390px) {
    li a{top: 3vh}
    .b{height: 90vh}
    .c{height: 100vh}
    footer{height: 40vh}
}
/*iPhone 14 Pro Max*/
@media only screen and (height: 932px) and (width: 430px) {
    li a{top: 3vh}
    .b{height: 90vh}
    .c{height: 100vh}
    footer{height: 40vh}
}
